<!doctype HTML>
<html>
{% extends 'layout.html' %}

{% load static %}

{% block body %}
  <body background="https://i.imgur.com/IQi3GBJ.jpg" style="background-size:cover">
  <div class = "jumbotron text-center" style="background: none">
    <h1>Archives</h1>
  </div>

<!--
  <div class="container">
    <div class="row justify-content-center align-self-center"</div>
        <h1>{{ title }}</h1>
    </div>
    <div class="row justify-content-center align-self-center">
    <ul class = 'list-group'>
    {% for post in reddit %}
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">{{ post.title }}</h4>
                <p class="card-text">{{ post.pub_date }}</p>
            </div>
        </div>
        {% endfor %}
    </ul>
    </div>
-->


<select name=set method='GET' action = "/archives">
    {% for s in set %}
    <option value = "{{s}}" selected>{{s}}</option>
    {% endfor %}
</select>
{% for post in reddit %}
<div class="{{post.sub_name}}">   
    <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">{{ post.title }}</h4>
                <p class="card-text">{{ post.pub_date }}</p>
            </div>
       </div>
    </div>
{% endfor %}

{% endblock %}
</html>