<!doctype HTML>
<html>
{% extends 'layout.html' %}

{% load static %}

{% block body %}
  <body background="https://i.imgur.com/IQi3GBJ.jpg" style="background-size:3008px 2000px">
  <div class = "jumbotron text-center" style="background: none">
    <h1>Up to Date</h1>
    <p class = "lead"> What would you like to know about?</p>
  </div>

  <form method='POST' action='../search/'>
    <div class="form-group row justify-content-center align-self-center">
            {% csrf_token %}
			<input type="text" name="sub_name" class="form-control" id="url-box" placeholder="Enter Search Term..." style="max-width: 300px;" autofocus required>
			<button type="submit" class="btn btn-default">Search</button>
    </div>
  </form>
  <ul class = 'list-group'>
{% for post in reddit %}
 <div class="listings row justify-content-center align-self-center">
	<div class="card" style="width: 20rem; background-color: #b6cbed; opacity: 0.9">
		<div class="card-body"  background-color="yellow">
			<h4 class="card-title">{{ post.title }}</h4>
			<p class="card-text">{{ post.pub_date }}</p>
			<a href="{{post.link}}">Reddit link</a>
			<div style="float: right"><i>Save:</i> <input type="checkbox" class="fav reddit" id="{{post.id}}"></div>
		</div>
	</div>
</div>
	{% endfor %}
</ul>
<script>




var list = document.getElementsByClassName("listings");
for(i = 3; i < list.length; i++) {
	list[i].hidden = true;
}
showcounter = 4;
removecounter = 0;


setInterval(function () {
	
	temp = removecounter;
	temp2 = showcounter;
	op = 0.99;
	var fade = setInterval(function () {
		list[temp].style.opacity = op;
		op-=.01;
		console.log(op);
		if(op < 0) {
			list[temp].hidden = true;
			list[temp2].hidden = false;
			list[temp2].style.opacity = 1;
			window.clearInterval(fade);
		}
	}, 10);
	removecounter++;
	showcounter++;
	console.log("rest");
	
	if (showcounter >= list.length + 4)
	{
    	for (var i = 0; i < 4; ++i)
    	{
            list[i].hidden = false;
            list[i].style.opacity = 1;	
    	}
    	showcounter = 4;
    	removecounter = 0;
	}
	
}, 3000);

</script>
{% endblock %}

</html>